<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <!-- <form> -->
              <%= form_for(:session, url: login_path) do |f| %>
                <div class="form-label-group">
                  <%= f.text_field :username, class: "form-control", required: true, autofocus: true%>
                  <%= f.label :username%>
                  <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
                  <!-- <label for="inputEmail">Email address</label> -->
                </div>

                <div class="form-label-group">
                  <%= f.password_field :password, class: "form-control", required: true %>
                  <%= f.label :password %>
                  <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
                  <!-- <label for="inputPassword">Password</label> -->
                </div>
                <!--
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div> -->
                <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"%>
                <!-- <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button> -->
                <div class="text-center">
                  <!-- <a class="small" href="#">Forgot password?</a> -->
                  <p class="small">New user? <%= link_to "Sign up now!", new_user_path %></p>
                </div>
              <!-- </form> -->
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
